{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Add User</h1>
    </div>
    <form method="POST" name="login">
        {{ wtf.quick_form(form) }}
    </form>
</div>
{% endblock %}

